{% extends "layout/basic.html" %}

{% load bootstrap4 %}

{% block content %}
<form method="post">
	{% csrf_token%}
    <div class="conteiner">
            {% bootstrap_form form %}
    </div>
    {% if not user.is_authenticated and 'captcha' not in request.session %}
    <div class="conteiner">
            {% bootstrap_form captcha  %}
    </div>
    {% endif %}
	<input class="btn btn-primary" type="submit" formaction="{% url 'main:result_avito' %}" value="Поиск на Авито">
	<input class="btn btn-primary" type="submit" formaction="{% url 'main:result_cian' %}" value="Поиск на ЦИАН">
</form>
{% endblock %}
